{
    "extends": "eslint-config-hein",
    "parserOptions": {
        "project": [
            "src/tsconfig.json",
            "scripts/tsconfig.json"
        ]
    },
    "ignorePatterns": [
        "dist",
        "**/tsconfig.json",
        "node_modules"
    ],
    "rules": {
        "unicorn/prefer-module": "off",
        "unicorn/prevent-abbreviations": "off"
    },
    "overrides": [
        {
            "files": [
                "scripts/**/*.ts"
            ],
            "rules": {
                "import/no-extraneous-dependencies": "off"
            }
        }
    ]
}
